.text_3{
    color: green;
    font-family: 'Roboto';
    font-size: '14px';
}

.text_3{
    color: brown;
    font-family:'Trebuchet MS';
    font-size: '18px';
}

#sampleTable {
    font-family: 'Trebuchet MS';
    font-size: '20px';
    background-color: black;
    color: white;

}

.myTable11_td{
    width: 50%;
    font-size: 13px;
}
#form_11{
    display: flex;
    flex-direction: column;
}
.block_11{
    display: flex;
    flex-direction: column;

    max-width: 300px;
}


/* 11 слайд */

@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');


li{
    list-style: none;
}
  
a{
    text-decoration: none;
}

button{
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
}

.header{
    background: #373A3C;
    border-radius: 4px;
    
    padding: 23px 163px;

    display: flex;
    justify-content: center;
    align-items: center;


}


.header__contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1069px;

    width: 100%;
    


}

.header__contaner__nav_ListBugrger{
    display: none;
}


.header__contaner__nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__contaner__nav_item_link{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: rgba(255, 255, 255, 0.5);

    margin-right: 8px;

    
}

.white_first{
    color: #FFFFFF;
}

.header__contaner__nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contaner__nav_item:not(:last-child){
    margin-right: 25px;
}

.input{
    padding: 8px 0px 8px 15px;

    font-family: 'Helvetica Neue';
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    /* background-color: #FFFFFF;
    color: #435766;

    mix-blend-mode: normal;
    opacity: 0.4; */

    color: #435766;

    mix-blend-mode: normal;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;

}

.header__contaner__nav_item__Img{
    margin-right: 5px;
}

.one{
    background: url('../img/Star-Wars-Battlefront-II-combat.svg') no-repeat center center / cover;

    width: 100%;
    height: 644px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.one__contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0px 4.1%;
    position: relative;

}
.one__contaner__BlockInfo{
    position: absolute;
    right: 198px;
}
.white{
    color: #FFFFFF;
}
.TextHelveticaNeue{
    font-family: 'Helvetica Neue';
}

.one__contaner__Blockinfo__MainText{
    font-size: 36px;
    line-height: 42px;

}

.one__contaner__Blockinfo__Text{
    font-size: 24px;
    line-height: 28px;
}

.one__contaner__BlockInfo__Btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 134px;
}

.one__contaner__Btn:not(:last-child){
    margin-right: 13px;
}

.green_btn{
    background: #8DD83D;
}
.grow_btn{
    background: #686C6F;

}

.one__contaner__Btn{
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
}

.litle_btn{
    padding: 8px 24px;
}

*{
    margin: 0;
    padding: 0;
}
  
li{
    list-style: none;
  }
  
a{
    text-decoration: none;
}
/* дставим контейнер в середину body */

/* Класс с шрифтом roboto */
.roboto{
    font-family: 'Roboto';
    font-style: normal;
}

/* добавляем ширину и padding контейнеру */
.contaner{
    width: 220px;
    padding: 40px;
    position: absolute;
    z-index: 10;
    right: 76px;
    top: 1269px;
    background: #FDFDFF;
}

.contaner__from{
    display: flex;
    flex-direction: column;
}

/* Добавляем центрирование текста и margin */
.contaner__MainBlock{
    display: flex;
    justify-content: center;

    margin-bottom: 25px;
}

.contaner__MainText{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #979797;
}

/* Прописываем для всех input общие свойтсва */
.input{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;


    color: rgba(0, 0, 0, 0.5);

    padding: 13px 0px 12px 16px;

    background: #FFFFFF;
    border-radius: 5px;


    border: 0px;

    box-shadow: 0px 0px 5px 2px rgba(0, 29, 108, 0.07);
}
/* Все кроме послденего добавляем margin-bottom */
.input:not(:last-of-type){
    margin-bottom: 15px;
}
/* послдениему input добвляем свой margin */
.contaner__from__password{
    margin-bottom: 20px;
}

.contaner__from__BtnSend{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FDFDFF;


    background: #8DD83D;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    padding: 15px 96px 15px 84px;

    margin-bottom: 16px;
}

.contaner__from__BtnLog{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}

.contaner_block{
    background-color: rgb(230, 241, 163);
}
.contaner_block_BlockInput{
    display: flex;

}
.contaner_block__MainText{
    margin-right: 8px;
}

.contaner_block__select{
    padding: 5px;
    background-color: rgb(201, 218, 91);
}

.contaner_10{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner_block_BlockInput{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.contaner_block_BlockInput_inputranges{
    display: flex;
    gap: 7px;
}

.contaner_block_BlockInputAndText_input_block{
    margin-bottom: 8px;
}
.contaner_block__select_option{
    font-family: 'bold';
    background-color: rgb(201, 218, 91);
    
}
.contaner_block_BlockInputAndText_input{
    display: flex;
    flex-direction: column;
}
.contaner_block_BlockInputAndText{
    display: flex;
}
.contaner_block_BlockInput_InputRadio{
    color: aqua;
}